body{
    height: 100vh;
}

.frame{
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #e5e5e5;
}

.frame .main_frame {
    position: relative;
    width: 1440px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2px;
    background: #f7f6b9;
    overflow: auto;
}
.main_frame .left_frame{
    position: relative;
    width: 305px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.main_frame .left_1 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main_frame .left_1 .left_1-1 {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 156.16px;
    height: 142.53px;
  }

  .left_1 .left_1-2 {
    position: relative;
    width: 66.63px;
    height: 20.9px;
    margin-bottom: 6.65px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 123.6%;

    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;

    color: #2b2b2b;
  }

  .main_frame .left_frame .left_1-3 {
    position: relative;
    width: 147.84px;
    height: 25.65px;
    display: flex;
    justify-content: center;
    align-items: center;


    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;

    text-transform: capitalize;
    font-feature-settings: "calt" off, 'kern' off;
    color:  #767676;
  }

.main_frame .marginer{
    position: relative;
    width: 220px;
    height: 0px;
    border: 1.5px solid #f0f0f6;
    margin-left: 37px;
}
.main_frame .left_2 {
    width: 100%;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    padding-left: 37px;
    box-sizing: border-box;
}

.left_2-label{
    padding: 0 5px ;
    background: rgb(255, 180, 0);;
}

.main_frame .common-flex-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 5px 37px;
    box-sizing: border-box;
    gap: 5px;
}

.main_frame .left_frame .left_3 {
    position: relative;
    width: 220px;
    background-color: aqua;
}

.left-icons {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 238px;
    margin-top: 19px;
}

.link_href {
text-decoration: none;
color: black;
}
/* .icon {
    position: relative;
    width: 24.99px;
    height: 22.8px;
    border-radius: 50%;
    filter: drop-shadow(0 4px rgba(0,0,0,.25));
    background: #ffb400; 
} */
.icon-1 {
    position: relative;
    left: 29.17%;
    right: 27.08%;
    margin-top: 5.86px;

}
.main_frame .left_frame .left_4 {
    position: relative;
    width: 220px;
    height: 252px;  
    background-color: aqua;
}
.main_frame .left_frame .left_5 {
    position: relative;
    width: 186px;
    background-color: aqua;
}
.main_frame .marginer{
    position: relative;
    width: 220px;
    height: 0px;
    border: 1.5px solid #f0f0f6;
}

.left_2 {
    position: relative;
    width: 221px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}
.left_2-1 {
    position: relative;
    width: 220px;
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.left_3 {
    position: relative;
    width: 220px;
    height: 153px;
    display: flex;
}
.languages {
    position: relative;
    width: 95px;
    height: 22px;
    margin-bottom: 4px;
    font-weight: 500;
    font-size: large;
    white-space: nowrap;
}
.left_3-language {
    position: relative;
    width: 220px;
    height: 24px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
    color: rgb(117, 117, 117);
}
.left_3-language-margin {
    /* Rectangle 6 */
    position: relative;
    width: 220px;
    height: 4px;
    text-align: start;
    /* Yellow */
    border: 0.5px solid rgb(255, 180, 0);
    border-radius: 2em;

}
.left_3-language-margin_y1 {
    position: relative;
    width: 98%;
    height: 2px;
    margin: 1px;
    background-color: rgb(255, 180, 0);
    border-radius: 1em;
}
.left_3-language-margin_y1 {
    position: relative;
    width: 80%;
    height: 2px;
    margin: 1px;
    background-color: rgb(255, 180, 0);
    border-radius: 1em;
}
.left_3-language-margin_y2 {
    position: relative;
    width: 85%;
    height: 2px;
    margin: 1px;
    background-color: rgb(255, 180, 0);
    border-radius: 1em;
}

.left_3-language-margin_y3 {
    position: relative;
    width: 85%;
    height: 2px;
    margin: 1px;
    background-color: rgb(255, 180, 0);
    border-radius: 1em;
}

 .eight{
    width: 70% !important;
}
.seventy{
    width: 60% !important;
}
.fifty{
    width: 55% !important;
}

.left_4 {
    position: relative;
    width: 220px;
    height: 242px;
}

.middle-frame{
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
}
.middle-top{
    display: flex;
    flex-direction: row;
    padding: 20px 40px;
    background-color: #fff;
    box-sizing: border-box;
}
.middle-top-left h1{
    margin: 0;
    padding: 0;
    font-size: 48px;
}
.middle-top-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.hire-me{
    width: 30%;
    border: transparent;
    background-color: rgb(255, 180, 0);
    padding: 16px 32px;
    font-size: 15px;
}
.middle-top-right{
    display: flex;
    align-items: flex-end;
    width: 326.06px;
}
.middle-top-right img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.middle-service{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.service-text{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.service-text h1{
    margin: 0;
}

.service-text p{
    color: rgb(118, 118, 118);
font-family: Inter;
font-size: 15px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
text-transform: capitalize;
margin: 0;
}
.middle-service-sections{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 20px;
}
.blog-box{
    width: 30%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    gap: 10px;
}
 .blog-box .ad {
    color: rgb(43, 43, 43);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 123.6%;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
}
.blog-box button{
    color: rgb(255, 180, 0);
    font-family: Roboto;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0%;
    text-align: left;
    border: transparent;
    background: none;
}
.span-text{
    width: 80%;
    display: flex;
    word-break:keep-all;
}


.right_frame{
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    box-sizing: border-box;
}




.right-bottom-frame{
    width: 40px;
    height: initial;
}

/* RIGHT-FRAME */
.contrast {
    margin-top: 50px;
    margin-bottom: 130px;
}

.contrast-icon {
    width: 30px;
    height: 30px;
    object-fit: contain;
  }
  
  .link-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    width: 40px;
    height: 40px;
    background-color: rgb(240, 240, 246);
    border-radius: 50%;
  }
  .link-wrapper:hover {
    background-color: rgb(255, 180, 0);
  }
  
  .link-wrapper:hover .link-icon {
    color: rgb(43, 43, 43);
  }
  
  .link-link {
    text-decoration: none;
  }
  
  .link-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(118, 118, 118);
    text-align: center;
  }
  
  .postion {
    position: absolute;
    top: -42px;
    padding: 6px 15px;
    background-color: rgb(43, 43, 43);
    color: rgb(255, 255, 255);
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0%;
    border-radius: 2px;
  }
  
  /* TRIANGLE-DOWN */
  .triangle-down {
    position: absolute;
    top: -20px;
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 18px solid rgb(43, 43, 43);
  }
  
  .visible {
    visibility: hidden;
  }
  
  .link-wrapper__home:hover .visible {
    visibility: visible;
  }
  
  .link-wrapper__service:hover .visible {
    visibility: visible;
  }
  
  .link-wrapper__cv:hover .visible {
    visibility: visible;
  }
  
  .link-wrapper__portfolio:hover .visible {
    visibility: visible;
  }
  
  .link-wrapper__blog:hover .visible {
    visibility: visible;
  }
  
  .link-wrapper__contact:hover .visible {
    visibility: visible;
  }
  
  /* PERCENT-LINE */
  .percent-line {
    width: 220px;
    border: 0.5px solid rgb(255, 180, 0);
    border-radius: 30px;
    margin-top: 6px;
  }
  
  .line-inside {
    height: 2px;
    margin: 1px;
    border-radius: 30px;
    background-color: rgb(255, 180, 0);
  }
  
  .percent-line__bangla {
    width: 99%;
  }
  
  .percent-line__english {
    width: 80%;
  }
  
  .percent-line__spanish {
    width: 60%;
  }
  
  .percent-line__html {
    width: 90%;
  }
  
  .percent-line__css {
    width: 85%;
  }
  
  .percent-line__js {
    width: 80%;
  }
  
  .percent-line__php {
    width: 75%;
  }
  
  .percent-line__wordpress {
    width: 85%;
  }

  .extra-skills__title {
    margin-top: 0;
    margin-bottom: 15px;
    color: rgb(43, 43, 43);
    font-size: 18px;
    font-weight: 500;
    line-height: 123.6%;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
  }
  
  .left5 {
    flex-direction: column;
    margin-left: 37px;
  }

  .extra-skills__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .extra-skills__item {
    display: flex;
    align-items: center;
  }
  
  .extra-skills__item {
    margin-bottom: 5px;
  }
  
  .extra-skills__img {
    margin-right: 15px;
  }
  
  .extra-skills__text {
    margin: 0;
    color: rgb(118, 118, 118);
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
  }
  